@use './partials/variables' as *;

$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// *::before,
// *::after{
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }
body{
    font-family: $font-family;
    background-color: $bg-color;
    color: $text-color;
}
main{
    margin-bottom: 100px;
}
.row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.row::-webkit-scrollbar{
    height: .55em;
    background: $btn-gray;
    border-radius: 25vw;
}
.row::-webkit-scrollbar-thumb{
    background: $boolfix-red;
    border-radius: 25vw;
}
.row::-webkit-scrollbar-thumb:hover{
        background: $boolfix-dark-red;
}
.col{
    margin-left: 10px;
    cursor: pointer;
    transition: transform 450ms;
    img{
        height: 100%;
        border-radius: 5px;
    }
}
.col:hover{
    transform: scale(1.08);
}